# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Admin User
AUTH_USERNAME=admin
AUTH_PASSWORD=your_secure_password


# Paths
MODELS_PATH=/workspace/gendojo/models
DATASETS_PATH=/workspace/gendojo/datasets
OUTPUTS_PATH=/workspace/gendojo/outputs
LOGS_PATH=/workspace/gendojo/logs
SD_SCRIPTS_PATH=/workspace/gendojo/sd-scripts
ACCELERATE_CONFIG_PATH=/workspace/gendojo/configs/accelerate/default_config.yaml
TEMP_PATH=/workspace/gendojo/temp

# Settings
MAX_CONCURRENT_JOBS=1
LOG_BUFFER_SIZE=2000
CPU_THREADS_PER_PROCESS=2
